# http://www.gnu.org/software/automake
Makefile.in
# http://www.gnu.org/software/autoconf
/autom4te.cache
/compile
/configure
/aclocal.m4
/config/stamp-h1
/config/aclocal.m4
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/Makefile
/config.log
/config.status
/config/config.h
/libscrub/.deps/
/libscrub/Makefile
/libscrub/libscrub.pc
/libtool
/man/Makefile
/man/scrub.1
/scrub.spec
/src/.deps/
/src/Makefile
/test/.deps/
/test/Makefile

# Object files
*.o
*.ko
*.obj
*.elf
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# src subdir
scrub

# test subdir
*.diff
aestest
pad
pat
tgetsize
tprogress
trand
tsig
tsize
